{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Placement</title>
    <link rel="stylesheet" href="{% static 'users/assassin.css' %}" />
</head>
<body>
    <div class="container">
        <div class="content">
            {% if is_placed %}
                <h2>Your Group is: {{ group.group_name }}</h2>
                <p>Teammates: </p>
                {% for player in group.players.all %}
                    <p>{{ player.user.first_name }}</p>
                {% endfor %}
            {% else %}
                <h2>Group Placement</h2>
                <p>Please type in your teammate's names and click submit when you have your group!</p>
            {% endif %}
        </div>
    </div>
    <div class="navbar">
        <a href="{% url 'users:home' %}">Home</a>
        <a href="{% url 'users:rules' %}">Rules</a>
        {% if ggame %}
            <a href="{% url 'users:placement' %}">Placement</a>
        {% endif %}
        <a href="{% url 'users:complaints' %}">Feedback</a>
        <a href="{% url 'users:logout' %}">Logout</a>
    </div>
</body>
</html>
