{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="stylesheet" href="{% static 'users/assassin.css' %}" />
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>The Rules of the Game</h2>
            <ul>
                <li>Rule 1: ///</li>
                <li>Rule 2: ///</li>
            </ul>
        </div>
    </div>
    <div class="navbar">
        <a href="{% url 'users:home' %}">Home</a>
        <a href="{% url 'users:rules' %}">Rules</a>
        <a href="{% url 'users:complaints' %}">Feedback</a>
        <a href="{% url 'users:logout' %}">Logout</a>
    </div>
</body>
</html>
